<!--=== Begin Footer ===-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <!--=== About ===-->
            <div class="col-sm-4 mb30-xs text-center">
                <img src="/assets/images/LVPE-Logo-S-on-Black1.png" class="img-responsive mb10 center-block" alt="LV Premium Entertainment">
                <p><strong>Las Vegas' Premier source for live musical entertainment</strong></p>
            </div>
            <!--=== Contact ===-->
            <div class="col-sm-4 mg25-xs text-center">
                <div class="heading-footer"><h4>Contact us</h4></div>
                <p><span class="ion-home footer-info-icons"></span><span class="address">Las Vegas, Nevada</span></p>
                <p><span class="ion-email footer-info-icons"></span><span class="address"><a href="mailto:{{ site.email }}">{{ site.email }}</a></span></p>
                <p><span class="ion-ios7-telephone footer-info-icons"></span><span class="address"><a href="tel:{{ site.phone }}">{{ site.phone }}</a></span></p>
            </div>
            <!--=== Social ===-->
            <div class="col-sm-4 mg25-xs text-center">
                <div class="heading-footer"><h4>Get Social</h4></div>
                <a href="https://www.twitter.com/{{ site.twitter_handle }}" target="_blank"><span class="fab fa-twitter bordered-icon-dark bordered-icon-sm mb5 mt10"></span></a>
<!--                 <span class="fa fa-youtube bordered-icon-dark bordered-icon-sm mb5"></span> -->
                <a href="https://www.facebook.com/{{ site.facebook_handle }}" target="_blank"><span class="fab fa-facebook-f bordered-icon-dark bordered-icon-sm mb5"></span></a>
                <a href="https://www.instagram.com/{{ site.instagram_handle }}" target="_blank"><span class="fab fa-instagram bordered-icon-dark bordered-icon-sm mb5"></span></a>
            </div>
        </div><!-- /row -->
        <!--=== Copyright ===-->
        <div class="row">
            <hr class="dark-hr">
            <div class="col-sm-12 text-center">
                <p class="copyright mb15">&copy; LV Premium Entertainment, LTD</p>
                <a href="#" class="scroll-top"><div class="footer-scrolltop-holder" style="float:none;display: inline-block;"><span class="ion-ios7-arrow-up footer-scrolltop"></span></div></a>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</footer><!-- /footer -->
<!--=== End Footer ===-->