<!-- Begin Header -->
	<header>

		<!-- Begin Top Bar -->
		<div class="top-bar top-bar-dark">
			<div class="container">
				<div class="row">
					<!-- Address and Phone -->
					<div class="col-sm-7 hidden-xs">
						<span class="ion-android-system-home home-icon"></span>LV Premium Entertainment<span class="ion-ios7-telephone phone-icon"></span>{{ site.phone }}
					</div>
					<!-- Social Buttons -->
					<div class="col-sm-5 text-right">
              <ul class="topbar-list list-inline">
                <li>						
		            <a href="https://www.twitter.com/{{ site.twitter_handle }}" target="_blank" class="btn btn-rw btn-primary btn-xs">
									<i class="fab fa-twitter"></i>
								</a>
								<a href="https://www.facebook.com/{{ site.facebook_handle }}" target="_blank" class="btn btn-rw btn-primary btn-xs" style="margin:0px 10px">
									<i class="fab fa-facebook-f"></i>
								</a>
								<a href="https://www.instagram.com/{{ site.instagram_handle }}" target="_blank" class="btn btn-rw btn-primary btn-xs">
									<i class="fab fa-instagram"></i>
								</a>
							</li>
						</ul>
					</div>
				</div><!--/row --> 
			</div><!--/container header -->   
		</div><!--/top bar -->   
		<!-- End Top Bar -->

     	<!-- Begin Navigation -->
     	<div class="navbar-wrapper">
			<div class="navbar navbar-main navbar-dark" id="fixed-navbar">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 column-header">
							<div class="navbar-header">
								<!-- Brand -->
								<a href="/index.html" class="navbar-brand">
									<img src="/assets/images/LVPE-Logo-S-on-Black1.png" class="raleway-logo" alt="LV Premium Entertainment">
								</a>

								<!-- Mobile Navigation -->
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
						            <span class="sr-only">Toggle navigation</span>
						            <span class="icon-bar"></span>
						            <span class="icon-bar"></span>
						            <span class="icon-bar"></span>
								</button>

                <a href="/talent/" class="btn btn-book-now visible-xs" style="margin-right:7px; float: right;">Book Now</a>

							</div><!-- /navbar header -->   

							<!-- Main Navigation - Explained in Documentation -->
							<nav class="navbar-collapse collapse navHeaderCollapse" role="navigation">
								<ul class="nav navbar-nav navbar-right">
                  
									<li>
									  <a href="/index.html">Home</a>
							    </li>
							    <li>
									  <a href="/services/">Services</a>
							    </li>
							    <li>
									  <a href="/talent/">Talent</a>
							    </li>
                  <li class="dropdown dropdown-main">
                    <a href="/about/" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">About Us<span class="fa fa-angle-down dropdown-arrow"></span></a>
                    <ul class="dropdown-menu dropdown-subhover dropdown-animation animated fadeIn">
                      <li>
									      <a href="/about/">Who We Are</a>
							        </li>
                      <li>
									      <a href="/faq/">FAQ</a>
							        </li>
                      <li>
                        <a href="/blog/">Blog</a>
                      </li>
                    </ul>
                  </li>
                  <li>
									  <a href="/contact/">Contact</a>
							    </li>
                  <li>
                    <a href="/talent/" class="btn btn-book-now hidden-xs" style="margin-left:10px;"">Book Now</a>
                  </li>
									
											
								</ul><!-- /navbar right -->  
							</nav><!-- /nav -->
						</div>
					</div>
				</div><!-- /container header -->   
			</div><!-- /navbar -->
		</div><!-- /navbar wrapper -->
		<!-- End Navigation -->

	</header><!-- /header -->
	<!-- End Header -->