<!-- Begin Content Section -->
			<section class="content-bordered background-light-grey border-bottom-none pt40 pb40">

				<div class="container">

					<!-- Begin Title -->
					<div class="row">
						<div class="col-xs-12">
							<p class="lead text-center">Our <b><mark>Team</mark></b></p>
							<hr style="width:400px;" class="double-hr mt30 mb30">
						</div>
					</div>

					<!-- Begin Team Members -->
					<div class="row team-content-holder">

					    <!-- Begin Team Member 1 -->
					    <div class="team-member-holder mt30-xs">
					        <div class="col-sm-3 col-sm-offset-2 mt30-lg fadeInLeft-animated">
					            <!-- Image -->
					            <img src="/assets/images/jsummers.jpg" class="img-responsive br-2 team-member-img" alt="John Summers">
					            
					        </div>
					        <div class="col-sm-5 mt30-lg">
					            <!-- Name -->
					            <h4 class="team-member-name" style="margin-bottom: 5px;">John Summers</h4>
					            <div style="margin-bottom: 15px;">Founder/Owner</div>
					            <!-- About -->
					            <div class="team-description">
					                <p>John is a Las Vegas native who has worked in the entertainment industry for the last 16 years.  As a professional musician, John has worked with a variety of musicians, artists, and entertainers across the world.  John founded LV Premium Entertainment to bring his experience with the top talent in the industry to a variety of clients desiring live entertainment for their events.  Due to his professional activities, John has had the opportunity to build a unique database of connections that constitute the very best of what Las Vegas entertainment has to offer.  He is excited at the prospect of serving all of your entertainment needs.</p>
					                <!-- Social -->
					                <a href="https://www.twitter.com/{{ twitter_handle }}" target="_blank"><span class="mr15"><ion-icon name="logo-twitter"></ion-icon></span></a>
					                <a href="https://www.facebook.com/{{ facebook_handle }}" target="_blank"><span class="mr15"><ion-icon name="logo-facebook"></ion-icon></span></a>
					                <a href="https://www.instagram.com/{{ instagram_handle }}" target="_blank"><span class="mr15"><ion-icon name="logo-instagram"></ion-icon></span></a>
					            </div>
					        </div><!-- /column -->
					    </div><!-- /team member holder -->

					</div><!-- /row -->
					<!-- End Team Members -->

				</div><!-- /container -->
			</section><!-- /section -->
			<!-- End Content Section -->