<!-- Begin Content Section -->
			<section class="content-bordered background-light-grey border-bottom-none pt40 pb40">

				<div class="container">

					<!-- Begin Title -->
					<div class="row">
						<div class="col-xs-12">
							<p class="lead text-center">The <b><mark>Team</mark></b></p>
							<hr style="width:400px;" class="double-hr mt30 mb30">
						</div>
					</div>

					<!-- Begin Team Members -->
					<div class="row team-content-holder">

					    <!-- Begin Team Member 1 -->
					    <div class="team-member-holder mt30-xs">
					        <div class="col-sm-3 col-sm-offset-2 mt30-lg fadeInLeft-animated">
					            <!-- Image -->
					            <img src="/assets/images/team-member-3.jpg" class="img-responsive br-2 team-member-img" alt="Team Member 2">
					        </div>
					        <div class="col-sm-5 mt30-lg">
					            <!-- Name -->
					            <h4 class="team-member-name">John Doe</h4>
					            <!-- About -->
					            <div class="team-description">
					                <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Integer a elit turpis. Phasellus non varius mi. Nam bibendum in mauris at sollicitudin lacinia. Nam bibendum in mauris at sollicitudin lacinia.</p>
					                <!-- Social -->
					                <a href="#"><span class="ion-social-twitter team-ico mr15"></span></a>
					                <a href="#"><span class="ion-social-facebook team-ico mr15"></span></a>
					                <a href="#"><span class="ion-social-googleplus-outline team-ico"></span></a>
					            </div>
					        </div><!-- /column -->
					    </div><!-- /team member holder -->

					</div><!-- /row -->
					<!-- End Team Members -->

				</div><!-- /container -->
			</section><!-- /section -->
			<!-- End Content Section -->