---
layout: default
---			

<!-- Start Slider Revolution -->
<div class="rev_slider_wrapper">
	<div class="rev_slider" data-version="5.0" id="slider1">
		<ul>

			<!-- Slide 1 -->
			<li data-delay="9000" 
  			data-description="LV Premium Entertainment" 
  			data-easein="default"
  			data-easeout="default" 
  			data-masterspeed="default" 
  			data-param1="test" 
  			data-rotate="0" 
  			data-slotamount="default" 
  			data-title="LV Premium Entertainment Intro"
  			data-thumb="/assets/images/backgrounds/bg1.jpg"
  			data-transition="slideremoveup"
  		>
      
				<!-- MAIN IMAGE -->
				<img alt=""
  				data-bgfit="cover"
  				data-bgposition="center center"
  				data-bgrepeat="no-repeat"
  				data-no-retina=""
  				height="800"
  				src="/assets/images/backgrounds/bg1.jpg"
  				style="background-color:#000;"
          width="1732"
        >

				<div class="tp-caption"
  				data-x="center"
  				data-y="center"
  				data-speed="600"
  				data-start="1200"
  				data-end="9400"
  				data-endspeed="600"
  				data-transform_idle="o:1;"
  				data-transform_in="y:50px;opacity:0;s:700;e:Power3.easeOut;"
  				data-transform_out="y:50px;opacity:0;s:500;e:Power2.easeInOut;"
  				style="background-color: rgba(0, 0, 0, 0.5);
  				        visibility: visible; color:white; 
                  border-top: 1px solid rgba(255, 255, 255, 0.3);
                  border-right: 1px solid rgba(255, 255, 255, 0.3);
                  border-left: 1px solid rgba(255, 255, 255, 0.3);
                  border-bottom: 3px solid rgba(255, 255, 255, 0.6);
                  padding: 10px;
                  font-family: 'Raleway' sans-serif;
                  text-align: center;"
   
          data-fontsize="['46', '46', '36', '36']" 
          data-lineheight="['46', '46', '36', '36']" 
          data-textAlign="['inherit', 'inherit', 'interit', 'center']"
  
          data-width="['800', '800', '600', '340']" 
          data-height="['auto', 'auto', 'auto', 'auto']" 
          data-whitespace="['normal', 'normal', 'normal', 'normal']" 

          data-voffset="['-60', '-60', '-60', '-60']"
          
          data-basealign="slide" 
          data-responsive_offset="off" 
        >
				Welcome to <span class="heavy">LV Premium Entertainment</span>
				</div>
				
				<div class="tp-caption"
  				data-x="center"
          data-y="center"
  				data-speed="600"
  				data-start="1200"
  				data-end="9400"
  				data-endspeed="600"
  				data-transform_idle="o:1;"
  				data-transform_in="y:150px;opacity:0;s:700;e:Power3.easeOut;"
  				data-transform_out="y:150px;opacity:0;s:500;e:Power2.easeInOut;"
  				style="background-color: rgba(0, 0, 0, 0.5);
  				        font-size: 24px; 
  				        font-weight: 300;
  				        visibility: visible;
  				        color: white;
                  border: 1px solid rgba(255, 255, 255, 0.3);
                  padding: 10px;
                  font-family: 'Raleway' sans-serif;
                  text-align: center;"
    			   
          data-fontsize="['24', '24', '24', '24']" 
          data-lineheight="['24', '24', '24', '24']" 
          data-textAlign="['left', 'left', 'left', 'left']"  
       
          data-width="['800', '800', '600', '340']" 
          data-height="['auto', 'auto', 'auto', 'auto']" 
          data-whitespace="['normal', 'normal', 'normal', 'normal']" 
            
          data-voffset="['65', '65', '65', '65']" 
            
          data-basealign="slide" 
          data-responsive_offset="off"
        >
				Las Vegas' premier source for live musical entertainment.
				</div>

			</li>
			
			<!-- Slide 2 -->
			<li data-delay="10000"
  			data-description="Talented, Experienced, Professional Musicians"
  			data-easein="default"
  			data-easeout="default"
  			data-masterspeed="default"
  			data-param1="test"
  			data-rotate="0"
  			data-slotamount="default"
  			data-thumb="/assets/images/backgrounds/bg13.jpg"
  			data-title="Features"
  			data-transition="slideremoveleft"
  		>

				<!-- MAIN IMAGE -->
				<img alt="" 
  				data-bgfit="cover"
  				data-bgposition="center center" 
  				data-bgrepeat="no-repeat"
  				data-no-retina="" 
  				height="800" 
  				src="/assets/images/backgrounds/bg13.jpg" 
  				style="background-color:#000;"
  				width="1732"
  		  >

				<div class="tp-caption" 
				  data-x="center"
  				data-y="center"
  				data-speed="600"
  				data-start="1200"
  				data-end="9400"
  				data-endspeed="600"
  				data-transform_idle="o:1;"
  				data-transform_in="y:10px;opacity:0;s:700;e:Power3.easeOut;"
  				data-transform_out="y:10px;opacity:0;s:500;e:Power2.easeInOut;"
  				style="background-color: rgba(0, 0, 0, 0.3);
  				        color: #fff;
  				        font-family:'Raleway' sans-serif;
    				      font-weight: 200;
      				    border:2px solid #fff;
        				  text-align: center;"
          
          
          data-fontsize="['36', '36', '24', '24']" 
          data-lineheight="['45', '40', '30', '30']" 
          data-textAlign="['left', 'left', 'center', 'center']"  
       
          data-width="['900', '700', '500', '340']" 
          data-height="['auto', 'auto', 'auto', 'auto']" 
          data-whitespace="['normal', 'normal', 'normal', 'normal']" 
            
          data-paddingtop="[15, 13, 10, 10]"
          data-paddingright="[20, 15, 12, 12]"
          data-paddingbottom="[15, 13, 10, 10]"
          data-paddingleft="[20, 15, 12, 12]" 
            
          data-voffset="['-125', '-125', '-155', '-175']" 
          data-hoffset="['0', '0', '0', '0']"
            
          data-basealign="slide" 
          data-responsive_offset="off"
    		>
  				<strong>Talented, Experienced, Professional Artists</strong>
  				for all your live entertainment needs.
				</div>

				<div class="tp-caption background-mainsub" 
  				data-x="left"
  				data-y="center"
  				data-speed="600"
  				data-start="1200"
  				data-end="9400"
  				data-endspeed="600"
  				data-transform_idle="o:1;"
  				data-transform_in="x:100px;opacity:0;s:1200;e:Power3.easeOut;"
  				data-transform_out="y:100px;opacity:0;s:500;e:Power2.easeInOut;"
  				style="color: #fff;
  				        font-size: 27px;
  				        font-family:'FontAwesome' sans-serif;
    				      line-height: 50px;
    				      text-align:center; 
      				    padding-left: 12px;
        				  padding-right: 12px;
          		    border-radius: 50%;"
          
          data-voffset="['-10', '0', '-30', '-40']" 
          data-hoffset="['300', '250', '100', '30']"
          data-basealign="slide" 
          data-responsive_offset="off"
    		>
  				
  					<span class="fa fa-check"></span>

				</div>

				<div class="tp-caption" 
  				data-x="left"
  				data-y="center"
  				data-speed="600"
  				data-start="1200"
  				data-end="9400"
  				data-endspeed="600"
  				data-transform_idle="o:1;"
  				data-transform_in="x:130px;opacity:0;s:1200;e:Power3.easeOut;"
  				data-transform_out="y:130px;opacity:0;s:500;e:Power2.easeInOut;"
  				style="color: #fff;
    				      font-size: 24px;
      				    font-family: 'Open Sans' sans-serif;
        				  font-weight: 300;"
    		  
      		data-textAlign="['left', 'left', 'left', 'left']"
          data-voffset="['-10', '0', '-30', '-40']" 
          data-hoffset="['360', '310', '160', '90']"
          data-basealign="slide" 
          data-responsive_offset="off"
  		  >
  				Weddings
				</div>

				<div class="tp-caption background-mainsub" 
  				data-x="left"
  				data-y="center"
  				data-speed="600"
  				data-start="1200"
  				data-end="9400"
  				data-endspeed="600"
  				data-transform_idle="o:1;"
  				data-transform_in="x:160px;opacity:0;s:1200;e:Power3.easeOut;"
  				data-transform_out="y:160px;opacity:0;s:500;e:Power2.easeInOut;"
  				style="color:#fff;font-size:27px;font-family:'FontAwesome' sans-serif;
    				      line-height: 50px;
      				    text-align: center;
        				  padding-left: 12px;
          		    padding-right: 12px;
            		  border-radius: 50%"
            		  
          data-voffset="['50', '60', '20', '20']" 
          data-hoffset="['300', '250', '100', '30']"
          data-basealign="slide" 
          data-responsive_offset="off"
    		>
				
					<span class="fa fa-check"></span>

				</div>

				<div class="tp-caption" 
  				data-x="left"
  				data-y="center"
  				data-speed="600"
  				data-start="1200"
  				data-end="9400"
  				data-endspeed="600"
  				data-transform_idle="o:1;"
  				data-transform_in="x:190px;opacity:0;s:1200;e:Power3.easeOut;"
  				data-transform_out="y:190px;opacity:0;s:500;e:Power2.easeInOut;"
  				style="color: #fff;
    				      font-size: 24px;
      				    font-family: 'Open Sans' sans-serif;
        				  font-weight: 300;"
          
          data-textAlign="['left', 'left', 'left', 'left']"
          data-voffset="['50', '60', '20', '20']" 
          data-hoffset="['360', '310', '160', '90']"
          data-basealign="slide" 
          data-responsive_offset="off"
        >
  				Private Parties
				</div>

				<div class="tp-caption background-mainsub" 
  				data-x="left"
  				data-y="center"
  				data-speed="600"
  				data-start="1200"
  				data-end="9400"
  				data-endspeed="600"
  				data-transform_idle="o:1;"
  				data-transform_in="x:220px;opacity:0;s:1200;e:Power3.easeOut;"
  				data-transform_out="y:220px;opacity:0;s:500;e:Power2.easeInOut;"
  				style="color:#fff;font-size:27px;font-family:'FontAwesome' sans-serif;
  				        line-height: 50px;
  				        text-align: center;
  				        padding-left: 12px;
  				        padding-right: 12px;
  				        border-radius: 50%"
    		  data-voffset="['110', '120', '70', '80']" 
          data-hoffset="['300', '250', '100', '30']"
          data-basealign="slide" 
          data-responsive_offset="off"
  		  >
				
					<span class="fa fa-check"></span>

				</div>

				<div class="tp-caption" 
  				data-x="left"
  				data-y="center"
  				data-speed="600"
  				data-start="1200"
  				data-end="9400"
  				data-endspeed="600"
  				data-transform_idle="o:1;"
  				data-transform_in="x:260px;opacity:0;s:1200;e:Power3.easeOut;"
  				data-transform_out="y:260px;opacity:0;s:500;e:Power2.easeInOut;"
  				style="color:#fff;font-size:24px;font-family:'Open Sans' sans-serif;font-weight:300;"
  				
  				data-textAlign="['left', 'left', 'left', 'left']"
  				data-voffset="['110', '120', '70', '80']" 
          data-hoffset="['360', '310', '160', '90']"
          data-basealign="slide" 
          data-responsive_offset="off"
    		>
  				Corporate Events
				</div>

				<div class="tp-caption" 
  				data-x="left"
  				data-y="center"
  				data-speed="600"
  				data-start="1200"
  				data-end="9400"
  				data-endspeed="600"
  				data-transform_idle="o:1;"
  				data-transform_in="y:70px;opacity:0;s:1000;e:Power3.easeOut;"
  				data-transform_out="y:70px;opacity:0;s:500;e:Power2.easeInOut;"
  				style="color:#fff;font-size:17px;font-family:'Open Sans' sans-serif;font-weight:300;"
          
          data-voffset="['150', '160', '120', '140']" 
          data-hoffset="['360', '310', '160', '90']"
          data-basealign="slide" 
          data-responsive_offset="off"
  		  >
  				<strong>and much more...</strong>
				</div>

			</li>

		</ul>
	</div>
</div><!-- /rev slider -->
<!-- End Slider Revolution -->

<!-- Begin 3 Services -->
<div class="background-light-grey pt40 pb40 border-bottom">
	<div class="container">
		<div class="row">
			<!-- Content 1 -->
			<div class="col-sm-4 fadeInUp-animated text-center">
  			  <span class="fas fa-people-carry bordered-icon-sm bordered-icon-color"></span>
<!-- 			    <span class="ion-beaker bordered-icon-sm bordered-icon-color"></span> -->
			    <h4 class="mt15">We do the work, so you don't have to.</h4>
			    <p class="p15xs no-margin">With our extensive database of musicians and groups, we can help find the perfect music option for your event.</p>
			</div>
			<!-- Content 2 -->
			<div class="col-sm-4 fadeInUp-animated text-center mt20-xs">
			    <span class="far fa-handshake bordered-icon-sm bordered-icon-color"></span>
			    <h4 class="mt15">We coordinate.</h4>
			    <p class="p15xs no-margin">We will coordinate with you, your staff, or event planner on all aspects of the performer's role in your event.</p>
			</div>
			<!-- Content 3 -->
			<div class="col-sm-4 fadeInUp-animated text-center mt20-xs">
			    <span class="fas fa-shield-alt bordered-icon-sm bordered-icon-color"></span>
			    <h4 class="mt15">We're fully licensed and insured.</h4>
			    <p class="p15xs no-margin">We carry all required state, county and city licenses. Afraid of the word liability?  No need to worry.  We carry all required insurance policies as well.</p>
			</div>
		</div>
	</div><!-- /container -->
</div><!-- /cta -->
<!-- End 3 Services -->

<!-- Begin Accordion + IMG  -->
<div class="mt40 mb40">
	<div class="container">

		<!-- Begin Title -->
		<div class="row">
			<div class="col-sm-12 mb20">
				<div class="heading"><h4>About us</h4></div>
			</div>
		</div>

		<!-- Begin Accordion Row -->
		<div class="row">

			<div class="col-sm-6" data-sr="enter left">

				<!-- Begin Accordion -->
				<div class="panel-group" id="accordion">
					<!-- Item 1 -->
					<div class="panel panel-default">
						<div class="panel-heading">
						  <h4 class="panel-title">
						    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						      We have <strong>16 years experience</strong> in the music industry.
						    </a>
						  </h4>
						</div><!-- /panel heading -->
					    <div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body">
								Our founder/owner is a professional musician in Las Vegas and has extensive experience in live entertainment ranging from small private events to weddings and celebrity shows.  You can use us, confident that your event entertainment will always be special and performed to the highest professional levels.							</div>
					    </div><!-- /panel collapse -->
					</div><!-- /panel -->

					<!-- Item 2 -->
					<div class="panel panel-default">
						<div class="panel-heading">
						  <h4 class="panel-title">
						    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						      We aren't satisfied <em>unless you are</em>.  
						    </a>
						  </h4>
						</div><!-- /panel heading -->
					    <div id="collapseTwo" class="panel-collapse collapse">
							<div class="panel-body">
								We haven't yet been presented with a musical request that we couldn't fulfill. Feel free to put our expertise to work.  If you are unsure of what you may want or need, give us a call at {{ site.phone }}.  We will do everything in our power to help you find something that will meet your needs.
							</div>
					    </div><!-- /panel collapse -->
					</div><!-- /panel -->

					<!-- Item 3 -->
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
								  We know entertainment.
								</a>
							</h4>
						</div><!-- /panel heading -->
					    <div id="collapseThree" class="panel-collapse collapse">
							<div class="panel-body">
								Rest assured that when you use us, you are using true entertainment professionals.  You are using people who live, work, and breathe professional entertainment, and will work tirelessly to make your event spectacular.
							</div>
					    </div><!-- /panel collapse -->
					</div><!-- /panel -->
				</div><!-- /panel group -->

				<!-- Button -->
				<div class="text-center">
					<a href="/about/" class="btn btn-rw btn-primary">
						About us
					</a>
				</div><!-- /button -->

			</div><!-- /column -->

			<!-- Begin Image -->
			<div class="col-sm-6" data-sr="enter bottom" >
				<a href="/about/"><img src="/assets/images/showcase.png" class="img-responsive showcase-image" alt="Responsive Showcase 2"></a>
			</div><!-- /column -->

		</div><!-- /row -->
		<!-- End Accordion Row -->
		
	</div><!-- /container -->
</div><!-- /content -->
<!-- End Accordion + IMG -->




