---
layout: default
---

<!-- Begin Content Section -->
<section class="mt40 mb40">
  <div class="container">
    <div class="row">
	  
	   	<div class="col-sm-8">
				<div class="blog-post">              	
				  <h1>{{ page.title }}</h1>
				  {% if page.image %} 
  				  <img class="img-responsive" src="{{ page.image }}" alt="{{ page.image_caption }}" />
            {% if page.image_caption %} 
              <div class="img-caption">{{ page.image_caption }}</div>
            {% endif %}
          {% endif %}
          <div class="blog-post-holder">
            <ul class="list-inline posted-info">
              <li>By <a href="#">{{ page.writer }}</a></li>
              <li>Posted {{ page.date | date: "%B %-d, %Y" }}</li>
            </ul>
            <hr align="left" class="mt15 mb10" style="width:50px;">
    
          	<p>{{ content }}</p>
                        
          </div> <!-- /blog-post-holder -->

        </div><!-- /blog-post -->
    </div><!-- /column -->
	        
	        
	        <!-- Sidebar -->
	        <div class="col-sm-4">
	        	{% include right-col-aside.html %}
	       
        	  {% include recent-posts.html %}
          </div><!-- /column -->
            
	  </div><!-- /row -->    
  </div><!-- /container -->
</section><!-- /content -->
<!-- End Content Section -->
